/* index.css */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #0f172a; /* mörk bakgrund om du vill */
  color: #f9fafb;
}
